/* CSS stylesheet for Yeming Ni's homepage
Author: Yeming Ni
Last Update: 2024/4/5 */

a {
    color: #3F3F3F;
}

a:hover {
    color: #8F8F8F;
}

h1 {
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

h3 {
    font-size: 20px;
}

body {
    color: black;
    font-size: 18px;
    margin: 0px auto 0px auto;
    max-width: 650px;
    font-family: 'Old Standard TT', serif;
}

.header {
    padding: 2px 0px 12px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;

    .contact {
        width: 70%;

        h1 {
            font-weight: 450;
        }

        h3 {
            color: #3175B3;
            font-weight: normal;
        }

        p {
            font-size: 14px;
        }
    }

    .photo {
        display: flex;
        align-items: center;
        width: 30%;

        img {
            width: 100%;
            height: auto;
        }
    }
}

.navi {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    position: sticky;
    position: -webkit-sticky;
    top: 0px;

    background-color: white;
    z-index: 1;
    border-top: 2px solid black;
    border-bottom: 2px solid black;

    p {
        margin-top: 12px;
        margin-bottom: 10px;
        font-size: 20px;

        a {
            color: black;
            text-decoration: none;
        }

        a:hover {
            color: black;
        }
    }
}

.publications {
    .pub-block {
        border: 2px dashed #8F8F8F;
        margin-bottom: 10px;
        display: flex;
        flex-direction: column;
        align-items: center;

        .pub-intro {
            display: flex;
            flex-direction: row;
            justify-content: space-between;

            .pub-img {
                display: flex;
                align-items: center;
                width: 30%;

                img {
                    width: 100%;
                    height: auto;
                }
            }

            .pub-info {
                width: 68%;

                p {
                    margin-top: 4px;
                    margin-bottom: 4px;
                }

                a {
                    text-decoration: none;
                }
            }
        }

        .abstract {
            width: 95%;

            p {
                font: 14px;
                margin-top: 5px;
                margin-bottom: 5px;
            }
        }
    }
}

.contact {
    table {
        position: relative;
        width: 100%;
        display: block;
    }

    thead {
        float: left;
    }

    tbody tr {
        display: inline-block;
    }

    th {
        text-align: left;
        width: 100px;
    }

    th,
    td {
        height: auto;
        display: block;
    }
}

.footer {
    text-align: center;

    p {
        font-size: 14px;
    }
}