/* CSS stylesheet for Yeming Ni's homepage
Author: Yeming Ni
Last Update: 2024/4/5 */

a {
    color: #3F3F3F;
}

a:hover {
    color: #8F8F8F;
}

h1 {
    font-size: 28px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

h2 {
    font-size: 23px;
    font-family: 'Oswald', sans-serif;
    font-weight: normal;
}

h3 {
    font-size: 20px;
}

body {
    color: black;
    font-size: 18px;
    margin: 0px auto 0px auto;
    width: 650px;
    font-family: 'Old Standard TT', serif;
}

.header {
    padding: 2px 0px 12px 0px;
    display: flex;
    flex-direction: row-reverse;
    justify-content: space-between;
    align-items: center;
}

.header .about {
    width: 70%;
}

.header .about h1 {
    font-weight: 450;
}

.header .about h3 {
    color: #3175B3;
    font-weight: normal;
}

.header .about p {
    font-size: 14px;
}

.header .photo {
    display: flex;
    align-items: center;
    width: 30%;
}

.header .photo img {
    display: block;
    max-width: 100%;
    height: auto;
}

.navi {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;

    position: sticky;
    position: -webkit-sticky;
    top: 0px;

    background-color: white;
    z-index: 1;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
}

.navi p {
    margin-top: 12px;
    margin-bottom: 10px;
    font-size: 20px;
}

.navi a {
    color: black;
    text-decoration: none;
}

.navi a:hover {
    color: black;
}

.publications {
    .pub-block {
        .pub-intro {

            .abstract {}
        }
    }
}

.publications .pub-block {
    border: 2px dashed #8F8F8F;
    margin-bottom: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.publications .pub-block .pub-intro {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.publications .pub-block .pub-intro .pub-img {
    display: flex;
    align-items: center;
    width: 30%;
}

.publications .pub-block .pub-intro .pub-img img {
    display: block;
    width: 100%;
    height: auto;
}

.publications .pub-block .pub-intro .pub-info {
    width: 68%;
}

.publications .pub-block .pub-intro .pub-info p {
    margin-top: 4px;
    margin-bottom: 4px;
}

.publications .pub-block .pub-intro .pub-info a {
    text-decoration: none;
}

.publications .pub-block .abstract {
    width: 95%;

    p {
        font: 14px;
        margin-top: 5px;
        margin-bottom: 5px;
    }
}

.publications .pub-block .abstract p {
    font: 14px;
    margin-top: 5px;
    margin-bottom: 5px;
}

.contact table {
    position: relative;
    width: 100%;
    display: block;
}

.contact table thead {
    float: left;
}

.contact table thead th {
    text-align: left;
    width: 100px;
    height: auto;
    display: block;
}

.contact table tbody tr {
    display: inline-block;
}

.contact table tbody tr td {
    height: auto;
    display: block;
}

.footer {
    text-align: center;
}

.footer p {
    font-size: 14px;
}